---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { db, GuestBook } from "astro:db";

let statusMessage = "";
let isSuccess = false;

if (Astro.request.method === "POST") {
    try {
        const formData = await Astro.request.formData();
        const password = formData.get("password");

        console.log("nuking");

        if (password === import.meta.env.NUKE_PASSWORD) {
            await db.delete(GuestBook);

            statusMessage = "its all gone now....";
            isSuccess = true;
        } else {
            statusMessage = "YOUUUUU..... NEVER.... EVER... TRY THAT... AGAIN";
            isSuccess = false;
        }
    } catch (error) {
        console.error("Nuke failed:", error);
        statusMessage = "An error occurred while trying to clear the database.";
        isSuccess = false;
    }
}
---

<BaseLayout>
    <head>
        <meta charset="utf-8" />
        <title>...</title>
    </head>
    <section>
        <div class="card space-y-6 select-none">
            <div class="flex flex-col items-center justify-start gap-y-1">
                <h2 class="text-5xl text-red-800 font-mono text-center">
                    Danger Zone
                </h2>
                <p class="text-sm font-mono text-blue-800 text-center">
                    Are you sure????
                </p>
            </div>

            {
                statusMessage && (
                    <p
                        class={
                            isSuccess
                                ? "text-white font-bold p-1 w-full text-center bg-green-900/70 font-mono rounded-lg"
                                : "text-red-800 font-mono font-bold"
                        }
                    >
                        {statusMessage}
                    </p>
                )
            }

            <!-- show form only if not successfully wiped -->

            {
                !isSuccess && (
                    <form method="POST">
                        <div class="flex flex-col gap-y-10">
                            <label
                                for="password"
                                class="flex gap-x-2 items-center"
                            >
                                <p class="text-blue-800 font-mono text-lg">
                                    Password:
                                </p>
                                <input
                                    class="text-blue-800 border rounded-md p-1 border-blue-500 focus:outline-2 outline-blue-600 transition w-full"
                                    type="password"
                                    id="password"
                                    name="password"
                                    required
                                    autofocus
                                />
                            </label>
                            <button
                                type="submit"
                                class="p-1 bg-red-800 text-white font-mono rounded-lg"
                            >
                                I know what im doing
                            </button>
                        </div>
                    </form>
                )
            }

            <a
                href="/"
                class="text-blue-900 font-mono text-lg hover:font-bold w-full flex justify-center"
                >Go back home</a
            >
        </div>
    </section>
</BaseLayout>
