---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as Pages from "@/components/pageComp/index.ts";
---

<BaseLayout>
	<section>
		<Pages.Home />
	</section>
	<section id="about">
		<Pages.About />
	</section>
	<section id="languages">
		<Pages.Languages />
	</section>
	<section id="projects">
		<Pages.Projects />
	</section>
	<section id="contact">
		<Pages.Contact />
	</section>
</BaseLayout>

<style is:global>
	.text-coolcream {
		background: linear-gradient(
			90deg,
			rgba(41, 58, 143, 1) 36%,
			rgba(184, 0, 0, 1) 88%
		);

		-webkit-background-clip: text;
		background-clip: text;

		-webkit-text-fill-color: transparent;
		color: transparent;

		font-weight: bold;
	}
</style>
