---
import { Home, Info, Languages, Blocks, Contact, User } from "@lucide/astro";
import Hint from "./hint";
---

<aside
    class="fixed z-999 p-3 backdrop-blur-xl bg-blue-100/50 border-2 border-blue-400 rounded-2xl shadow-lg shadow-blue-400 transition-all duration-300
    bottom-4 left-1/2 -translate-x-1/2 w-[90%] max-w-md
    md:bottom-auto md:left-5 md:top-1/2 md:-translate-y-1/2 md:translate-x-0 md:w-auto md:h-auto"
>
    <div
        class="h-full w-full flex flex-row items-center justify-evenly gap-x-2
        md:flex-col md:gap-y-3 md:gap-x-0 md:min-h-[40vh]"
    >
        <Hint
            label="Home"
            side="right"
            md-side="right"
            sideOffset={10}
            client:load
        >
            <a href="/#">
                <Home
                    class="hover:-translate-y-0.75 text-blue-700 hover:text-blue-900 transition size-5 sm:size-6"
                />
            </a>
        </Hint>

        <Hint
            label="About"
            side="right"
            md-side="right"
            sideOffset={10}
            client:load
        >
            <a href="/#about">
                <Info
                    class="hover:-translate-y-0.75 text-blue-700 hover:text-blue-900 transition size-5 sm:size-6"
                />
            </a>
        </Hint>

        <Hint
            label="Languages"
            side="right"
            md-side="right"
            sideOffset={10}
            client:load
        >
            <a href="/#languages">
                <Languages
                    class="hover:-translate-y-0.75 text-blue-700 hover:text-blue-900 transition size-5 sm:size-6"
                />
            </a>
        </Hint>

        <Hint
            label="Projects"
            side="right"
            md-side="right"
            sideOffset={10}
            client:load
        >
            <a href="/#projects">
                <Blocks
                    class="hover:-translate-y-0.75 text-blue-700 hover:text-blue-900 transition size-5 sm:size-6"
                />
            </a>
        </Hint>
        <Hint
            label="Guestbook"
            side="right"
            md-side="right"
            sideOffset={10}
            client:load
        >
            <a href="/#guestbook">
                <User
                    class="hover:-translate-y-0.75 text-blue-700 hover:text-blue-900 transition size-5 sm:size-6"
                />
            </a>
        </Hint>
    </div>
</aside>
