---
import { Button } from "../ui/button";
---

<div
    class="flex flex-col items-center justify-start gap-y-4 text-center max-w-2xl"
>
    <p
        class="text-3xl sm:text-4xl md:text-6xl font-semibold tracking-wider leading-tight md:leading-none"
    >
        Hey! I'm <span class="text-coolcream font-bold">coolcream</span>,
    </p>
    <p class="text-lg sm:text-xl md:text-2xl tracking-wide font-light max-w-md">
        an overly dedicated software developer
    </p>
    <a href="#about" class="mt-2">
        <Button size="lg" className="w-full sm:w-auto"> Read more! </Button>
    </a>
</div>
