---
interface Language {
    icon: string;
    name: string;
    level: number;
}

const languages: Language[] = [
    { icon: "/languages/gdscript.png", name: "GDScript", level: 9 },
    { icon: "/languages/python.png", name: "Python", level: 8 },
    { icon: "/languages/csharp.png", name: "C#", level: 2 },
    { icon: "/languages/html.png", name: "HTML", level: 10 },
    { icon: "/languages/css.png", name: "CSS", level: 10 },
    { icon: "/languages/js.png", name: "JavaScript", level: 9 },
    { icon: "/languages/tailwind.png", name: "Tailwind CSS", level: 10 },
    { icon: "/languages/ts.png", name: "TypeScript", level: 8 },
    { icon: "/languages/react.png", name: "React", level: 7 },
    { icon: "/languages/next.png", name: "Next.JS", level: 9 },
    { icon: "/languages/vite.png", name: "Vite", level: 5 },
    { icon: "/languages/astro.png", name: "Astro", level: 8 },
    { icon: "/languages/svelte.png", name: "Svelte", level: 4 },
];
---

<h1 class="text-2xl sm:text-4xl font-bold text-blue-900 font-mono text-center">
    Languages im familiar with
</h1>
<div
    class="p-2 sm:p-5 w-full max-w-5xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
>
    {
        languages.map((lang) => (
            <div class="bg-blue-100/50 backdrop-blur-xl border-2 border-blue-400 rounded-2xl shadow-lg shadow-blue-400 p-4 flex items-center gap-x-4 justify-between text-right hover:-translate-y-0.5 transition group">
                <img
                    src={lang.icon}
                    alt=""
                    class="w-10 sm:w-12 h-10 sm:h-12 object-contain rounded mix-blend-multiply group-hover:scale-90 transition"
                />
                <div>
                    <p class="text-sm sm:text-md font-bold font-mono text-blue-900">
                        {lang.name}
                    </p>
                    <p class="text-xs text-blue-800">
                        Proficiency: {lang.level}/10
                    </p>
                </div>
            </div>
        ))
    }
</div>
